#root{
    width: 100%;
    max-width: 900px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.chat-header {
    text-align: center;
    font-weight: bold;
}

.chat-header div {
    display: flex;
    align-items: center;
    gap:10px;
    width: fit-content;
    margin:0 auto;
}

.chat-body {
    flex: 1;
    padding: 15px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #212121;
    margin-bottom: 10px;
}

.message {
    display: flex;
    align-items: center;
    gap: 10px;
}

.senderIsuser {
    flex-direction: row-reverse;
    padding:5px;
}

.actions{
    display:flex;
    margin-block-start: 10px;
    gap: 7px;
}

.info-container {
    display: flex;
    align-items: center;
    gap:10px;
}

.bot-message, .user-message {
    padding: 10px 15px;
    border-radius: 10px;
    max-width: 75%;
}

.bot-message {
    background-color: #303030;
}

.user-message {
    background-color:#003060;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #5f7ea2;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sendMessage{
    position: sticky;
    bottom: 10px;
    left: 0;
    padding-inline: 10px;
}

.chat-footer {
    background-color: #303030;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.article{
    max-width: 100%;
    word-wrap: break-word;
}

#textSender {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    border: 2px solid #4343436d;
    background-color: #303030;
    letter-spacing: 1.2px;
    color: white;
    resize: none;
    outline:none;
    min-height: 30px;
    width: 100%;
    padding: 10px;
    scrollbar-width: 3px;
}

.chat-footer > div {
    width:100%;
}

.chat-footer input {
    color: white;
}
